@using UI.Models
@model IEnumerable<ApplicationUser>

<h2 class="text-center mb-5 mt-5">Users</h2>

<div class="row mb-5">
    <div class="col">
        <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>CivilId</th>
            <th>PACIId</th>
            <th>PlaceOfBirth</th>
            <th>SocialStatus</th>
            <th>InvestorType</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>@user.CivilId</td>
                <td>@user.PACIId</td>
                <td>@user.PlaceOfBirth?.Name</td> @*showing selected value not Id*@
                <td>@user.SocialStatus?.Name</td>
                <td>@user.InvestorType?.InvestorType</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = user.Id })" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="@Url.Action("Delete", new { id = user.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
