@model IEnumerable<UI.Models.KYC.Bank>

<h2 class="text-center mb-5 mt-5">Banks</h2>

<div class="row mb-5">
    <div class="col">
        <a href="@Url.Action("Create")" class="btn btn-primary">Create New</a>
    </div>
    <div class="col">
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Arabic Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bank in Model)
        {
            <tr>
                <td>@bank.Id</td>
                <td>@bank.Name</td>
                <td>@bank.ArabicName</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = bank.Id })" class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                    <a href="@Url.Action("Delete", new { id = bank.Id })" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

