<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crowdfund</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLR8ob1D4dsd8/U4GrV9BpBWT/49T5E7ex2CIWsmM4" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-7mGCI4V6z8SdFplSmixukVZoGqKfYz/x8F8VI/dJb/lRhAv8t7/2xXt4rEZoH1fb" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Crowdfund</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Home")">Home</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Privacy","Home")">Privacy</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "StrategyCodes")">Strategy Codes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "RiskToleranceCodes")">Risk Tolerance Codes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "PurposeOfInvestmentCodes")">Purpose Of Investment Codes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "KnowledgeCodes")">Knowledge Codes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "InvestmentObjectiveCodes")">Investment Objective Codes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "ExpectedTransactionPerMonthRanges")">Expected Transaction Per Month Ranges</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "AnnualIncomeRanges")">Annual Income Ranges</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Banks")">Banks</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Countries")">Countries</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Declarations")">Declarations</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "DocumentTypes")">Document Types</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "EducationLevels")">Education Levels</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "EmploymentStatus")">Employment Status</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "NetWorthRanges")">Net Worth Ranges</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "RiskAgreements")">Risk Agreements</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "SocialStatuses")">Social Statuses</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "SourceOfIncomes")">Source Of Incomes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "SourceOfWealthes")">Source Of Wealthes</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "InvestorTypeSetup")">Investor Type Setup</a></li>
                                <li><a class="dropdown-item" href="@Url.Action("Index", "Questionnaires")">Questionnaires</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @* <footer class="border-top footer text-muted"> *@
    @*     <div class="container"> *@
    @*         &copy; 2025 - Croudfund Frontend *@
    @*     </div> *@
    @* </footer> *@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
